mixin video-story-modal(story)
    .modal.fade(tabindex='-1', role='dialog', aria-labelledby='videomodallabel', aria-hidden='true' id=story.id)
        .modal-dialog.vidmodal-dialog
            .modal-content.vidmodal-content
                .modal-header.vidmodal-header
                    button.close.vidmodal-close(type='button', data-dismiss='modal', aria-hidden='true')
                        i.fa.fa-2x.fa-times-circle
                    .vidmodal-title.modal-title 
                        .vidmodal-header-title
                            strong #{story.name}
                            | &nbsp;thanks&nbsp;
                            strong #{story.teacher}
                        .vimodal-header-body
                            | from #{story.school} in #{story.city}, #{story.state}
                .vidmodal-body.modal-body
                    .video-container
                        iframe(src=story.url, frameborder='0', allowfullscreen='allowfullscreen')
                .modal-footer.vidmodal-footer
                    .col-sm-8.col-sm-offset-2
                        include share-button-row

.container
    .row
        .col-sm-6.col-sm-offset-3.sn-text-center.sn-header
            h3 Thank You Notes Shared By Others
    .row.sn-half-row
        - var sampleStories = [];
        - sampleStories.push({id: 'jessica_chaves', img: 'jessica_video_thumb.png', name: 'Jessica Chaves', teacher: 'Mrs. Wilson', school: 'Francis J. Burke School', city: 'Medway', state: 'MA', url: 'http://www.youtube.com/embed/ajMsBQqcA_U'})
        - sampleStories.push({id: 'yancy_mosley', img: 'yancy_video_thumb.png', name: 'Yancy Mosley', teacher: 'Mrs. Stewart', school: 'Greenville Tech', city: 'Somerville', state: 'SC', url: 'http://www.youtube.com/embed/qw9Pi4IlwZI'})
        - sampleStories.push({id: 'toby_sandler', img: 'toby_video_thumb.png', name: 'Toby Sandler', teacher: 'Mr. Winston', school: 'George Washington Middle School', city: 'Philadelphia', state: 'PA', url: 'http://www.youtube.com/embed/SXvKxiiq1UI'})
        each story in sampleStories
            mixin video-story-modal(story)
            .col-sm-4
                - var target = "#"+story.id
                img.sn-image(src=static('images/'+story.img) data-toggle="modal" data-target=target)
                .sn-text-header
                    strong= story.name
                    | &nbsp;thanks&nbsp;
                    strong= story.teacher
                    != '&nbsp;from ' + story.school + ' in ' + story.city + ', ' + story.state