doctype html
html(lang='en')
    head
        title='Thank a teacher!'

        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

        meta(name='charset', content='utf-8')
        meta(name='description', content='Take a minute to thank a teacher who helped you become who you are today. We\'ll send your thank you to your school.')
        meta(name='robots' content='all')

        //- FB Opengraph
        meta(content='What teacher changed your life? Thank them!', property='og:title')
        meta(content='We\'ve all been students. Take a minute to thank a teacher who helped you become who you are today.', property='og:description')
        meta(content='article', property='og:type')
        meta(content='http://thank-a-teacher.org/images/thank-a-teacher-thumbnail.jpg', property='og:image')
        meta(content='1200', property='og:image:width')
        meta(content='627', property='og:image:height')
        meta(content='Thank a Teacher', property='og:site_name')
        meta(content='https://youtube.googleapis.com/v/_C4eLoqXzxg', property='og:video')
        meta(content='720', property='og:video:width')
        meta(content='404', property='og:video:height')
        meta(content='application/x-shockwave-flash', property='og:video:type')
        meta(content='https://www.facebook.com/thankamentor', property='article:publisher')
        meta(content='http://thank-a-teacher.org/', property='og:url')

        //- Twitter
        meta(content='player', property='twitter:card')
        meta(content='@thankamentor', property='twitter:site')
        meta(content='http://thank-a-teacher.org/', property='twitter:url')
        meta(content='Thank a Teacher', property='twitter:title')
        meta(content='We\'ve all been students. Let\'s take 5 min to thank a teacher who helped us become who we are today.', property='twitter:description')
        meta(content='http://thank-a-teacher.org/images/thank-a-teacher-thumbnail.jpg', property='twitter:image:src')
        meta(content='https://www.youtube.com/embed/_C4eLoqXzxg?iv_load_policy=3&rel=0&autohide=1&showinfo=0', property='twitter:player')
        meta(content='1920', property='twitter:player:width')
        meta(content='1080', property='twitter:player:height')

        //- Dawson Core Meta tags
        link(rel='schema.DC', href='http://purl.org/dc/elements/1.1/')
        meta(name='DC.title', content='Thank a Teacher!')
        meta(name='DC.identifier', content='www.thank-a-teacher.org')
        meta(name='DC.description', content='Take a minute to thank a teacher who helped you become who you are today. We\'ll send your thank you to your school.')
        meta(name='DC.subject', content='teacher, thank you, school, note, postcard')
        meta(name='DC.language', scheme='ISO639-1', content='en')
        meta(name='DC.type', scheme='DCMITYPE', content='http://purl.org/dc/dcmitype/Service')

        link(rel='shortcut icon', href=static('images/favicon.ico'), type='image/x-icon')

        <!--[if lt IE 9]><script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script><![endif]-->

        link(href=static('stylesheets/vendor.css'), rel='stylesheet')
        link(href=static('stylesheets/main.css'), rel='stylesheet')
        link(href=static('stylesheets/desktop.css'), media='only screen and (min-width: 768px)',rel='stylesheet')

        script(src=static('javascripts/vendor.js'))
        include widgets/tracking
        block scripts
    body
        //- Facebook Sharing Root
        #fb-root

        include widgets/header
        block content
        include widgets/footer




